@font-face {font-family: gilroyBold; src: url(/fonts/Gilroy-Bold.ttf);}
@font-face {font-family: gilroyLight; src: url(/fonts/Gilroy-Light.ttf);}
@font-face {font-family: gilroyMedium; src: url(/fonts/Gilroy-Medium.ttf);}
@font-face {font-family: gilroyRegular; src: url(/fonts/Gilroy-Regular.ttf);}

@font-face {font-family: fontawesome; src: url(https://tegorinternational.github.io/GitHub.io/fonts/fontosm.otf);}

/*
body
{font-family:gilroyMedium;}
.footer-quick-title{
  font-family: gilroyBold;
}
*/
.icon{
  font-family: fontawesome;
  margin-left: 8px;
  border-radius: 3px;
}
