
html{
  scroll-behavior: smooth;
  
}

 .log{
   transform: translate(0px,0px) rotate(45deg);
 }
 
#dropdown-content {
  display: none;
  
}
#dropdown:hover #dropdown-content {
  display: block;
}

#dropdown-content a:hover {
  color: #FFFFFF;
  background-color: #00A4BD;
}

.like {
  transform: rotateX(180deg);
 }
 
/* ☺☺☺☺☺
search bar css start*/
  .search
{
	border: 2px solid #6068F1;
	overflow: auto;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.search input[type="text"]
{
	border: 0px;
	width: 67%;
	padding: 10px 10px;
}

.search input[type="text"]:focus
{
	outline: 0;
}

.search input[type="submit"]
{
	border: 0px;
	background: none;
	background-color: #6068F1;
	color: #fff;
	float: right;
	padding: 10px;
	border-radius-top-right: 5px;
	-moz-border-radius-top-right: 5px;
	-webkit-border-radius-top-right: 5px;
	border-radius-bottom-right: 5px;
	-moz-border-radius-bottom-right: 5px;
	-webkit-border-radius-bottom-right: 5px;
        cursor:pointer;
}



@media only screen and (min-width : 150px) and (max-width : 780px)
{

	.search
	{
		width: 95%;
		margin: 0 auto;
	}

}
/*  ☺☺☺☺☺☺☺
search bar css end*/

#wlpr,#elc{
  height: 3000px;
  width: 100%;
}
#btn:hover
{
  background-color: #FFFFFF00;
  color: #FF6200;
  border: 1px solid #6068F1;
}
/* Preloader */
  .loader,
       .loader:after {
       width: 10em;
       height: 10em;
       
       }
       .loader {
       margin: 60px auto;
       font-size: 10px;
       position: relative;
       text-indent: -9999em;
       
         
       }
      
       #loadingDiv {
       position:absolute;;
       top:0;
       left:0;
       width:100%;
       height:100%;
       background-color:#FFFFFF;
       background-image: url(".gif");
       background-repeat: no-repeat;
       background-size: 100% 50%;
       background-position: center;
       }
      /* preloader end */
 
 
 
 
 
 
 /* Theme start */
 .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1e2321;
  -webkit-transition: 0.4s;

  box-shadow: 2px 6px 25px #1e2321;
  transform: translate(0px, 0px);
  transition: 0.6s ease transform, 0.6s box-shadow;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked+.slider {
  background-color: #FFFFFF;
}

input:focus+.slider {
  box-shadow: 0 0 1px #FFFFFF;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;

}

.slider.round:before {
  border-radius: 50%;
  background-color: #6068F1;
}

.dark {

  background-color: #323232;
  

}
#tgl{
  background-color: #FFFFFF00;
}
/* Theme end */

#glry{
  text-align: center;
}
.qname{
  margin-top: 20px;
  margin-bottom: 10px;
  width: 30%;
  font-size: 22px;
}
.quick{
  margin-top: 15px;
  margin-bottom: 14px;
}
.btn{
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
 /* background-color: #6068F1; */
  /*color: #FFFFFF;*/
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 4px;
  
}


#a{
  color: #8797a1;
  height: 31px;
  width: 31px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  background: #0D47A1;
  border-radius: 50%;
  margin-right: 8px;
  color: #FFFFFF;
}


p::selection{ 
  color: #FF4600; 
  filter: blur(100);
  text-shadow: 0px 0px 2px #FF4600;
}



font::selection{ 
  color: #FF4600; 
  filter: blur(100);
  text-shadow: 0px 0px 2px #FF4600;
}




.flex-grow:hover{
  color: #6469FF;
}
.trun{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.sv{
  margin-top: -150px;
  overflow: hidden;
  position: absolute;
  fill: #0E00FF;
}

/*Brand color*/
.text-blue{
  color: #0D47A1;
}
.text-orange{
  color: #FF6A00;
}
.text-blue-003{
  color: #070F41;
}
.text-blue-002{
  color: #101C67;
}
.text-blue-001{
  color: #152F7B;
}
.bg-blue-original{
  background-color: #0D47A1;
}
.bg-orange-original{
  background-color: #FF6A00;
}
.bg-blue-003{
  background-color: #070F41;
}
.bg-blue-002{
  background-color: #101C67;
}
.bg-blue-001{
  background-color: #152F7B;
}
.bg-blue{
  background-color: #7799FE1A;
}
/*#2245AD1A*/
.border-blue-003{
  border-color: #0D47A1;
}
/*#2245AD1A
0D47A1
rgba(13, 71, 161, 1)
FF6A00*/


.card-buttons {
  display: flex;
  background-color: none;
  margin: auto;
  
}
.card-buttons button {
  flex: 1 1 auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: 0;
  font-size: 13px;
  border: 0;
  padding: 15px 5px;
  cursor: pointer;
  color: #FF6A00;
  transition: 0.3s;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  outline: 0;
  border-bottom: 3px solid transparent;
}
.card-buttons button.is-active, .card-buttons button:hover {
  color: #fff;
  border-bottom: 3px solid #0D47A1;
  background: linear-gradient(to bottom, rgba(13, 71, 161, 0) 0%, rgba(13, 71, 161, 0.2) 44%, rgba(13, 71, 161, 0.4) 100%);
}
